.content {
  display:flex;
  flex-direction:column;
  align-items: center;
}
.upload {
  border-width: 1px;
  border-color: 'black';
  background-color: #e62323;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}
